<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bingosoft.hrhelper.mapper.RuleMapper" >
  <resultMap id="BaseResultMap" type="bingosoft.hrhelper.model.Rule" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="operation_id" property="operationId" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="rule_method" property="ruleMethod" jdbcType="VARCHAR" />
    <result column="sending_minofhour" property="sendingMinofhour" jdbcType="INTEGER" />
    <result column="sending_hourofday" property="sendingHourofday" jdbcType="INTEGER" />
    <result column="distance_y" property="distanceY" jdbcType="INTEGER" />
    <result column="distance_m" property="distanceM" jdbcType="INTEGER" />
    <result column="distance_d" property="distanceD" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="early_day" property="earlyDay" jdbcType="INTEGER" />
    <result column="entry_distance" property="entryDistance" jdbcType="VARCHAR" />
    <result column="specialday_distance" property="specialdayDistance" jdbcType="VARCHAR" />
    <result column="is_use" property="isUse" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rule_name, operation_id, model_id, rule_method, sending_minofhour, sending_hourofday, 
    distance_y, distance_m, distance_d, create_by, create_time, update_by, update_time, 
    early_day, entry_distance, specialday_distance, is_use
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rule
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rule
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="bingosoft.hrhelper.model.Rule" >
    insert into rule (id, rule_name, operation_id, 
      model_id, rule_method, sending_minofhour, 
      sending_hourofday, distance_y, distance_m, 
      distance_d, create_by, create_time, 
      update_by, update_time, early_day, 
      entry_distance, specialday_distance, is_use)
    values (#{id,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, #{operationId,jdbcType=VARCHAR}, 
      #{modelId,jdbcType=VARCHAR}, #{ruleMethod,jdbcType=VARCHAR}, #{sendingMinofhour,jdbcType=INTEGER}, 
      #{sendingHourofday,jdbcType=INTEGER}, #{distanceY,jdbcType=INTEGER}, #{distanceM,jdbcType=INTEGER}, 
      #{distanceD,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{earlyDay,jdbcType=INTEGER}, 
      #{entryDistance,jdbcType=VARCHAR}, #{specialdayDistance,jdbcType=VARCHAR}, #{isUse,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="bingosoft.hrhelper.model.Rule" >
    insert into rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="operationId != null" >
        operation_id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="ruleMethod != null" >
        rule_method,
      </if>
      <if test="sendingMinofhour != null" >
        sending_minofhour,
      </if>
      <if test="sendingHourofday != null" >
        sending_hourofday,
      </if>
      <if test="distanceY != null" >
        distance_y,
      </if>
      <if test="distanceM != null" >
        distance_m,
      </if>
      <if test="distanceD != null" >
        distance_d,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="earlyDay != null" >
        early_day,
      </if>
      <if test="entryDistance != null" >
        entry_distance,
      </if>
      <if test="specialdayDistance != null" >
        specialday_distance,
      </if>
      <if test="isUse != null" >
        is_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null" >
        #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="ruleMethod != null" >
        #{ruleMethod,jdbcType=VARCHAR},
      </if>
      <if test="sendingMinofhour != null" >
        #{sendingMinofhour,jdbcType=INTEGER},
      </if>
      <if test="sendingHourofday != null" >
        #{sendingHourofday,jdbcType=INTEGER},
      </if>
      <if test="distanceY != null" >
        #{distanceY,jdbcType=INTEGER},
      </if>
      <if test="distanceM != null" >
        #{distanceM,jdbcType=INTEGER},
      </if>
      <if test="distanceD != null" >
        #{distanceD,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="earlyDay != null" >
        #{earlyDay,jdbcType=INTEGER},
      </if>
      <if test="entryDistance != null" >
        #{entryDistance,jdbcType=VARCHAR},
      </if>
      <if test="specialdayDistance != null" >
        #{specialdayDistance,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bingosoft.hrhelper.model.Rule" >
    update rule
    <set >
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null" >
        operation_id = #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="ruleMethod != null" >
        rule_method = #{ruleMethod,jdbcType=VARCHAR},
      </if>
      <if test="sendingMinofhour != null" >
        sending_minofhour = #{sendingMinofhour,jdbcType=INTEGER},
      </if>
      <if test="sendingHourofday != null" >
        sending_hourofday = #{sendingHourofday,jdbcType=INTEGER},
      </if>
      <if test="distanceY != null" >
        distance_y = #{distanceY,jdbcType=INTEGER},
      </if>
      <if test="distanceM != null" >
        distance_m = #{distanceM,jdbcType=INTEGER},
      </if>
      <if test="distanceD != null" >
        distance_d = #{distanceD,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="earlyDay != null" >
        early_day = #{earlyDay,jdbcType=INTEGER},
      </if>
      <if test="entryDistance != null" >
        entry_distance = #{entryDistance,jdbcType=VARCHAR},
      </if>
      <if test="specialdayDistance != null" >
        specialday_distance = #{specialdayDistance,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null" >
        is_use = #{isUse,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bingosoft.hrhelper.model.Rule" >
    update rule
    set rule_name = #{ruleName,jdbcType=VARCHAR},
      operation_id = #{operationId,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=VARCHAR},
      rule_method = #{ruleMethod,jdbcType=VARCHAR},
      sending_minofhour = #{sendingMinofhour,jdbcType=INTEGER},
      sending_hourofday = #{sendingHourofday,jdbcType=INTEGER},
      distance_y = #{distanceY,jdbcType=INTEGER},
      distance_m = #{distanceM,jdbcType=INTEGER},
      distance_d = #{distanceD,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      early_day = #{earlyDay,jdbcType=INTEGER},
      entry_distance = #{entryDistance,jdbcType=VARCHAR},
      specialday_distance = #{specialdayDistance,jdbcType=VARCHAR},
      is_use = #{isUse, jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--   自定义代码    -->
  <select id="listAllRule" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rule
  </select>
  
  <select id="listRuleListForm" parameterType="java.lang.String" resultType="bingosoft.hrhelper.form.RuleListForm">
    SELECT r.id, r.rule_name ruleName, r.entry_distance ruleSummary, r.create_time createTime, r.update_time updateTime, r.is_use isUse, o.operation_name operationName, u.username principal
    FROM rule r, operation o, user u
    WHERE r.operation_id = o.id
      AND o.user_id = u.id
    <if test="operationId != null">
      AND o.id = #{operationId}
    </if>
  </select>

  <select id="getRuleDetail" parameterType="java.lang.String" resultType="bingosoft.hrhelper.form.RuleDetailForm">
    SELECT r.id, r.rule_name ruleName, r.rule_method ruleMethod, r.distance_y distanceY, r.distance_m distanceM, r.distance_d distanceD
    , r.sending_hourofday sendingHourofday, r.sending_minofhour sendingMinofhour, r.is_use isUse, m.id modelId, m.model_content modelContent, m.attachment_href attachmentHref, o.id operationId
    FROM rule r, operation o, model m
    WHERE r.operation_id = o.id
      AND r.model_id = m.id
      AND r.id = #{ruleId}
  </select>

  <delete id="deleteByOperationId" parameterType="java.lang.String" >
    delete from rule
    where operation_id = #{operationId}
  </delete>

</mapper>